body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('lib/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer, .dancerimage{
  border:10px;
  border-radius:10px;
  position:absolute;
}

.dancerimage{
  max-height: 40px;
  position: relative;

}

.movingdancerimage{
  max-height: 40px;
  position: relative;

}

.explodingdancerimage{
  max-height: 60px;
  position: relative;

}


